*{
  margin: 0;
}
.amazon--logo{
    width:100px;
    margin-left:1rem;
    margin-right: 1rem;
}
.header{
  background-color: #131921;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  position: sticky;
  z-index: 100;
  top:0;
}

.header ul{
  display: flex;
  column-gap: 1rem;
}
.header ul li a{
 color: whitesmoke;
 text-decoration: none;
}
.cart--icon{
  height: 20px;
}
.header__Search{
  display: flex;
  align-items: center;
 flex: 1;
}
.header__Search >input{

  padding:0.56rem;
  border: none;
  flex: 1;
}
.header__SearchIcon{
  background-color: orange;
  height: 2.125rem !important;
}

.header__link{
  color:white;
  text-decoration: none;
}

.header__option{
  display: flex;
  flex-direction: column;
  margin: .5rem;
}

.header__optionLineOne{
  font-size:.8rem;

}
.header__optionLineTwo{
  font-size: 1rem;
  font-weight: 800;
}
.header__optionBasket{
  display: flex;
  align-items: center;
}
.header_basketCount{
  margin: 0 .5rem;
}